.about-container {
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    padding: 60px 30px;
}
.about-container > .about-image img {
    grid-area: image;
    width: 80%;
    height: 96.5%;
    border-radius: 20px;
    margin: 25px 20px 25px 20px;
}
.about-container > .about-text {
    background-color: rgb(241, 231, 218);
    border-radius: 10px;
    margin: 25px 20px 0px 0px;
    grid-area: text;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    line-height: 1.6;
}

